*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1577493340887-b7bfff550145?q=80&w=1880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}

#box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: gray;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: rosybrown;
}

#box2{
    width: 130px;
    height: 110px;
    background-color: brown;
}

#box3{
    width: 100px;
    height: 100px;
    background-color: magenta;
}
